---
title: Hand Crafted Diwali Diyas
description: Hand crafted Diwali Diyas created by Renuka Self-Help-Group Rural women micro credit NGO. These diyas are hand crafted by the women under the program as an alternative means of lively hood, away from toxic cigarette making.
sidebar_option: no-sidebar
featured_image_path:
facebook_image_path:
layout: default
---

<div class="site-inner">
  <div class="wrap">
    <div class="content-sidebar-wrap">

      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
      </header>

      <div class="entry-content" itemprop="text">
        <p>These hand crafted products are created by Renuka Self-Help-Group Rural women micro credit groups
          as an alternative means of lively hood. Formed by <a href="https://www.jnanaprabodhinifoundation.org/self-help-groups">Jnana Prabodhini Stree Shakti Prabodhan</a></p>

        <p>All funds raised from this campaign will be use to payback the micro credit groups and also as revenue back to the women. All items
          ordered online, will be available for pick up at the <a href="https://fb.me/e/235YJKQIP" target="_blank">Glen Rock Diwali Fest</a>
        on <b>October 23rd, 2021</b> held at <a href="https://goo.gl/maps/MzM6FFK5q2sWjqn18">Glen Rock Athletic Club</a>.</p>

        <p><b>ALL SALES ARE FINAL.</b><small>Due to high demand, if you book a specific design which is out of stock, we'll reach out to you with available options.</small></p>
      </div>
      <main class="content grid">
        {% for product in site.products %}
          <section class="entry one-third styles" itemscope itemtype="http://schema.org/Product">

        		<div class="style">
        			<a href="{{ product.url }}">
        				<img src="{{ product.featured_image_path }}" itemprop="image">
        			</a>
        		</div>

            <div class="product-details">
              <div class="product-name">
			          <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
              </div>
              <div class="product-price">
							  <p>&#x24;{{ product.price }}</p>
              </div>
						</div>

          </section>
        {% endfor %}
        </main>

        <div class="entry-content" itemprop="text">
        </div>

      {% if page.sidebar_option == 'sidebar' %}{% include sidebar.html %}{% endif %}

    </div>
  </div>
</div>
