---
layout: default
---

<div class="site-inner">
  <div class="wrap">
    <div class="content-sidebar-wrap">

      <main class="content single-product simpleCart_shelfItem" itemscope itemtype="http://schema.org/Product">

        <section class="product-image">
          <div class="styles">
            {% for style in page.styles %}
          		<div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display: none"{% endunless %}>
        				<img src="{{ style.image_path }}" itemprop="image">
          		</div>
          	{% endfor %}
          </div>
        </section>

        <section class="product-details">
          <h1 class="entry-title item_name" itemprop="name">{{ page.title }}</h1>
          <p class="item_price">{{ page.price }}</p>
          {{ content }}

        	<div class="style-picker">
            <p class="margin-bottom-0">Product Id:</p>
            {% for style in page.styles %}
              <!-- <div id="product-{{ forloop.index }}"{% if forloop.first %} class="item_color"{% endif %} style="background-color: {{ style.color }}"><span class="display-none">{{ style.name }}</span></div> -->
              <div id="product-{{ forloop.index }}"{% if forloop.first %} class="item_color"{% endif %}><span class="display-block">{{ style.name }}</span></div>
              {% endfor %}
        	</div>

          <p class="margin-bottom-0">Quantity:</p>

          {% for style in page.styles %}
            <div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display: none"{% endunless %}>
              {% if style.quantity == 0 %}
                <b>SOLD OUT</b>
              {% else %}
                <select class="item_Quantity">
                {% for qty in (1..style.quantity) %}
                  <option value="{{qty}}"> {{qty}} </option>
                {% endfor %}
                </select>
              {% endif %}
            </div>
          {% endfor %}
          <!-- <a id="item_add" class="item_add button" href="javascript:;"> Add to Cart </a> -->
        </section>

      </main>

    </div>
  </div>
</div>
